name: npm bump

on:
  workflow_dispatch:
    inputs:
      version_type:
        description: 'Version type'
        type: choice
        options:
          - major
          - minor
          - patch
          - custom
        default: 'patch'
        required: true
      newversion:
        description: 'Custom version (used when version_type is "custom")'
        required: false

env:
  node_version: 'lts/*'
  FORCE_COLOR: 1

concurrency: # prevent concurrent releases
  group: npm-bump
  cancel-in-progress: true

jobs:
  version_and_release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        # fetch full history so things like auto-changelog work properly
        fetch-depth: 0
        submodules: true
    - name: Use Node.js ${{ env.node_version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ env.node_version }}
        # setting a registry enables the NODE_AUTH_TOKEN env variable where we can set an npm token.  REQUIRED
        registry-url: 'https://registry.npmjs.org'
    - run: npm i
    - run: npm test
    - run: git reset --hard
    - name: npm version && npm publish
      uses: bcomnes/npm-bump@v2
      with:
        git_email: bcomnes@gmail.com
        git_username: ${{ github.actor }}
        newversion: ${{ github.event.inputs.version_type == 'custom' && github.event.inputs.newversion || github.event.inputs.version_type }}
        github_token: ${{ secrets.GITHUB_TOKEN }} # built in actions token.  Passed tp gh-release if in use.
        npm_token: ${{ secrets.NPM_TOKEN }} # user set secret token generated at npm

